/* color palette from coolers
/*  */

:root {
    /* CSS HEX */
--rich-black: #000814ff;
--oxford-blue: #001d3dff;
--yale-blue: #003566ff;
--mikado-yellow: #ffc300ff;
--gold: #ffd60aff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body {
    background-image: linear-gradient(to right, var(--rich-black),var(--yale-blue));
    color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

header {
    padding: 2rem 1rem;
    max-width:800px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
}

h1 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mikado-yellow);
}

form input, 
form button {
padding:0.5rem;
padding-left: 1rem;
font-size: 1.8rem;
border: none;
background: aliceblue;
border-radius: 2rem;
}

form button {
    color: rgb(255, 200, 0);
    background: aliceblue;
    cursor: pointer;
    transition: all 0.3 ease;
}

form button:hover {
    color: aliceblue;
    background:rgb(255, 200, 0);
}