/* color palette from coolers
/*  */

:root {
    /* CSS HEX */
    --federal-blue: #03045eff;
    --honolulu-blue: #0077b6ff;
    --pacific-cyan: #00b4d8ff;
    --non-photo-blue: #90e0efff;
    --light-cyan: #caf0f8ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body {
    background-image: linear-gradient(to top, var(--federal-blue),var(--honolulu-blue));
    color: var(--light-cyan);
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

header {
    padding: 2rem 1rem;
    max-width:800px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--federal-blue);
}

#form {
    display: flex;
}

form input, 
form button {
/* padding:0.5rem;
padding-left: 1rem;
font-size: 1.8rem; */
border: none;
background: none;
}
p {
    margin-bottom: 1rem;
}
#todo-input {
    flex: 1 1 0%;
    background-color: var(--federal-blue);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--honolulu-blue);
    font-size: 1.25rem;
}

#todo-button {
    font-size: medium;
    font-weight: 800;
    /* background: var(--rich-black); */
    cursor: pointer;
    transition: all 0.3 ease;
}

#todo-button:hover {
    color: aliceblue;
} 

#select {
    margin-left: 1rem;
    margin-bottom: 3rem;
}